@import "mixins";
@import "general";

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f9f9f9;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 40rem;
  font-size: 1.5rem;
  z-index: 2000;
  height: 100vh;
  .flex {
    @include flex-container;
    justify-content: space-between;
    button {
      cursor: pointer;
    }

    h2 {
      font-size: 1.7rem;
    }
  }

  .group {
    h3 {
      font-size: 1.4rem;
      margin: 0;
      margin-bottom: 0.4rem;
    }

    label {
      display: block;
      margin: 0.5rem 0;

      input {
        margin-right: 0.5rem;
      }
    }
  }

  input[type="range"] {
    width: 100%;
    margin: 0.5rem 0;
  }
  .clearBtn {
    button {
      width: 12rem;
      padding: 1rem;
      color: white;
      font-weight: bold;
      background-color: $main-btn-color;
      border-radius: 1rem;
      font-size: 1.6rem;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $main-btn-hover-color;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .sidebar {
    font-size: 1.3rem;
    padding: 1.6rem;

    .flex {
      h2 {
        font-size: 1.5rem;
      }
    }
    .group {
      h3 {
        font-size: 1.2rem;
      }
    }
    .clearBtn {
      button {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .sidebar {
    width: 100%;
    .clearBtn {
      button {
        font-size: 1.3rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
    input[type="range"] {
      width: 65%;
    }
  }
}
